@import "../../vars.css";
.Navbar{

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items:center;
padding: 0px;
gap: 18px;

position: absolute;
width: 471px;
height: 41.47px;
left: calc(50% - 471px/2 + 0.5px);
top: 37px;
border-radius: 50px;
border-style: solid;
border-color: slategray;

}

 
.menuBtn {
    display: none;
  }
  
  .menu {
    display: flex;
  }
  
  .menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
  }
  
  .menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
   font-weight: 700;
  font-size: 14.6042px;
  line-height: 22px;
   
  }
  
  @media screen and (max-width: 830px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu {
      position: absolute;
      right: 0;
      margin-right: 10%;
      flex-direction: column;
      align-items: flex-end;
      gap: 11px;
      z-index: 3;
    }
  
    .menuBtn {
      display: block;
      cursor: pointer;
    }
  
    .menuItems {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 13px;
      border-radius: 10px;
      background: rgb(25, 55, 109);
      background: linear-gradient(
        0deg,
        rgba(25, 55, 109, 0.2) 0%,
        rgba(25, 55, 109, 1) 100%
      );
      padding: 24px 33px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }
  
    .menuOpen {
      display: flex;
      z-index: 1;
    }
  }





