.carouselcontainer {
  width: 100%;
  overflow: hidden;
}

.carouseltrack {
  display: flex;
  gap: 30px;

  overflow-x: auto;
  overflow-y: hidden;

  padding: 20px 40px 30px;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  scrollbar-width: none;
}

.carouseltrack::-webkit-scrollbar {
  display: none;
}

.carouselitem {
  flex: 0 0 400px;
  scroll-snap-align: start;
}
@media (max-width: 768px) {
  .carouseltrack {
    gap: 20px;
    padding: 20px;
  }

  .carouselitem {
    flex: 0 0 85vw;
  }
}